.sidebarContainer {
    width: 260px;
    height: 100vh;
    border-right: 2px;
    border-color: #C2C2C2;
    display: absolute;
    padding: 20px 18px;
    z-index: 2;
    background-color: #244870;
}

.sidebarButton {
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 10px;
    color: #C2C2C2;
    width: 230px;
    text-align: center;
    background-color: red;
}

.sidebarButtonText {
    top: 10px;
}


.sidebarButton.active {
    background-color: #00C0E8;
    border-radius: 20px;
    border-color: #02B1D5;
}