a {
    text-decoration: none;
}

.sidebarSpacer {
    height: 10px;
    flex-grow: 0.92;
}

.sidebarScreenSetting {
    display: flex;
}

.sidebarContainer {
    width: 260px;
    height: 100%;
    border-right: 10px;
    top: 0px;
    border-color: #C2C2C2;
    margin-right: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    z-index: 2;
    background-color: #244870;
}

.sidebarButton {
    border: 5px solid transparent;
    border-radius: 20px;
    padding: 4px;
    height: 50px;
    margin: 10px auto;
    color: #C2C2C2;
    width: 200px;
    text-align: center;
    background-color: transparent;
    display: flex;
}

.sidebarButton svg {
    height: 32px;
    width: 32px;
    margin: 8px 4px;
}

.sidebarButton p {
    font-size: 22px;
    margin: 12px 5px;
    font-weight: 500;
    text-decoration: none;
}

.logout {
    bottom: 5px
}

.sidebarButton:hover {
    border: 5px solid #E4B808;
}

.sidebarButton:active {
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid #FFFEF8;
}

.sidebarButtonText {
    top: 10px;
}

.sidebarButtonActive {
    border-radius: 20px;
    padding: 4px;
    height: 50px;
    margin: 10px auto;
    color: #C2C2C2;
    width: 200px;
    text-align: center;
    background-color: transparent;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid #FFFEF8;
}

.sidebarButtonActive svg {
    height: 32px;
    width: 32px;
    margin: 8px 4px;
}

.sidebarButtonActive p {
    font-size: 22px;
    margin: 12px 5px;
    font-weight: 500;
}

.sidebarButtonLogOut {
    border: 5px solid transparent;
    border-radius: 20px;
    padding: 4px;
    height: 50px;
    margin: 10px auto;
    color: #FF4D6F;
    width: 200px;
    text-align: center;
    background-color: transparent;
    display: flex;
}

.sidebarButtonLogOut svg {
    height: 32px;
    width: 32px;
    margin: 8px 4px;
}

.sidebarButtonLogOut p {
    font-size: 22px;
    margin: 12px 5px;
    font-weight: 500;
    text-decoration: none;
}

.sidebarButtonLogOut:hover {
    border: 5px solid #E4B808;
}
